$black: rgba(25, 23, 22, 1);
$white: rgba(255, 255, 255, 1);
$grey: rgba(96, 91, 86, 1);
$red: rgba(242, 149, 89, 1);
$blue: rgba(141, 153, 174, 1);

// Font pallete
$titleFont: 'Vollkorn SC', serif;
$bodyFont:  'Barlow Semi Condensed', sans-serif;

body, html {
     height: 100%;
     margin: 0px;
     padding: 0px;
}

.container-fluid {
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 80%;
	margin-left: 10%;
	float: left;
}


body {
	background-color: $white;
	color: $black;
	height: 100%;
	margin: 0px;
    padding: 0px;
}

.tile {
	background-color: $white;
	text-align: center;
	margin-bottom: 2px;
	border-left: 3px;
	border-color: $white;
	height: 100px;
	font-family: $titleFont;	
	font-size: 16px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#tiles {
	height: 100%;
	background-color: $white;
}

.row {
	width: 80%;
	margin: 0px;
	padding: 0px;
}

#header {
	font-family: $titleFont;
	height: 5%;
	margin-left: 10%;
	margin-bottom: 14px;
	margin-top: 14px;
}

#logo {
	height: 100%;
	float: left;
}

#extra {
	margin-left: 48px;
	font-size: 24px;
}
